.list{
    text-align: center;
    margin: 1em;
}
.container{
    width: 40%;
}
.item{
    margin-top: 1em;
    background-color: rgb(232, 236, 246);
    border-radius: 12px;
    padding: 1em;

}

.form-deco{
    margin-bottom: 3em;
}


.memo{
    margin-bottom: 16px;
    color:rgb(150, 150, 150)
    
}


.search-box{
    display: flex;
    justify-content: space-between;
    width: 70%;
    border: 2px solid rgb(72, 72, 72);
    border-radius: 8px;
    padding: 5px;
}

.search-button{
    background: none;
    border: none;
    margin-right: 5px;
}

.input{
    width: 74%;
    border: none;
}